body {
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
title {
  color: blue;
  font-family: Bold-Italic;
}
h1 {
  color: #333;
  text-align: center;
}

